@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

.navbar{
    height: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

.navbar-dark{
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.navbar-light{
    background-color: white;
    color: hsl(200, 15%, 8%);
}

.nav-btn{
    border: none;
    background-color: transparent;
    /* color: white; */
    /* margin-top: 10px; */
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    /* justify-content: center; */
    /* align-items: cent; */
    /* align-items: baseline; */
}

.icon-small{
    margin-left: 70px;
    margin-top: -2px;
    /* margin-bottom: 10px; */
    position: absolute;
}

.nav-btn.light{
    color: black;
}

.nav-btn.dark{
    color: white;
}
