@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

.app{
  font-family: 'Nunito Sans', sans-serif;
  /* margin-left: 100px; */
  /* padding-left: 100px; */
  height: 1000px;
}

.app-dark{
  background-color: hsl(207, 26%, 17%);
  color: white;
}

.app-light{
  background-color: white;
  color: hsl(200, 15%, 8%);
}

.filters{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-bottom: 50px;
  justify-content: space-between;
  margin-right: 100px;
}

.search-bar{
  border: none;
}

.search-dark{
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.search-light{
  background-color: white;
  color: hsl(200, 15%, 8%);
}

/* #search-icon{ 
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
} */

.search-btn{
  position: absolute;
  background-color: transparent;
  border: none;
  margin-left: 0px;
  margin-top: 8px;
}

.serach-btn.dark{
  filter: brightness(0) invert(1);
}

#search-icon.dark{
  filter: brightness(0) invert(1);
}

.filters input{
  width: 300px;
  height: 30px;
}

.countries{
  margin-left: 100px;
}